.main-wrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.overview-box {
  /* border: 1px solid red; */
  font-size: 1.1rem;
  font-weight: 700;
  font-size: 14px;
  padding: 12px;
}

.entitlement-boxes {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}

.overview-and-entitlement {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.entitlement-box {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-weight: 700;
  height: 140px;
  width: 150px;
  border: 1px solid #ececf1;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entitlement-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.entitlement-box span {
  display: flex;
  font-size: 36px;
}

.entitlement-box p {
  font-size: 13px;
  color: #6b7280;
}

.entitlement-box h2 {
  text-align: center;
}

.icon {
  font-size: 20px;
  color: #9446ff;
}
.request-box-btn-wrapper {
  display: flex;
  justify-content: center;
}

.request-btn {
  color: white;
  width: 90%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #1876cf;
}
