.header-wrapper {
  /* border: 1px solid red; */
  padding: 12px 16px;
  background-color: #2d2f3e;
  color: white;
}

.header-layout {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.date-and-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date-and-welcome p {
  font-size: 0.8rem;
}

.date-and-welcome h1 {
  font-size: 1.6rem;
  line-height: 1;
}
