*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root,
html,
body {
  height: 100%;
}

/* Media elements */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form elements inherit fonts */
input,
button,
textarea,
select {
  font: inherit;
}

/* --- Typography Reset --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* --- Base Styles --- */
body {
  background: #f0ebe6;
  font-family: var(--font-inter), system-ui, -apple-system, "SF Pro Display",
    "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  color: #111;
}

.app {
  height: 100dvh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: hsl(220, 20%, 97%);
  /* background-color: 2E3A74; */
}
